.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

.logoclass {
	border-top-width: 0px;
	border-top-style: solid;
	width: 76px;
	height: 39.333px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	max-width: 100%;
	max-height: 30%;
	font-size: 25px;
	font-weight: bold;
}

.header a:hover {
	background-color: #ddd;
	color: black;
}

.header a.active {
	background-color: #561fce;
	color: white;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}

#linkforteam {
	background-color: #561fce;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	text-decoration: none;
}

.grid-container-addtask {
	display: grid;
	grid-gap: 2px;
	padding: 5px;
}

.addTask {
	text-align: center;
	padding: 5px;
	font-size: 30px;
}

.addtask-header {
	grid-column: 1/span 3;
	grid-row: 1;
}

input {
	width: 40%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	width: 190px;
}

input[type=submit] {
	background-color: #561fce;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: center;
}

.heroimage {
	width: 550px;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 50%;
	text-align: left;
}

.taskaddform{
  grid-column: 1 ;
  grid-row: 2 ;
  text-align: left;
  font-size:20px;
  padding-left:150px;
	
}

#task{
	padding: 12px 12px 12px 0;
display: inline-block;
width: 260px;
border-radius: 5px;
border: 1px solid gray;
color:#561fce; ;
background-color: white;

}

#seltaskpage{
padding: 12px 12px 12px 0;
display: inline-block;
color: #561fce;
background-color: white;
width: 260px;
border-radius: 5px;
border: 1px solid gray;

}

.item3{
  grid-column: 2 ;
  grid-row: 2 ;
 
  font-size:20px;
	
}